/* General Navbar Styling */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.navbar-logo-link {
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}

.navbar-link:hover {
  background-color: #444;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Hide the links on mobile */
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .navbar-links.active {
    display: block; /* Show the links when active */
  }

  .navbar-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu-toggle {
    display: block;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
}
